@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/ofont.ru_Bebas Neue.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

body {
    font-family: Arial;
    font-size: 16px;
    color: #212529;
}

a {
    text-decoration: none;
}

.responsive {
    height: auto;
    width: 100%;
}

.align-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.logo h3 {
    font-size: 19px;
    line-height: 1.2;
}

.logo {
    text-align: center;
}

.logo img {
    margin-bottom: 6px;
}

.logo p {
    font-size: 17px;
    font-style: italic;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header-call {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.phone-icon {
    display: none;
}

.phone-icon img {
    padding: 10px;
}

.call-btn {
    width: 280px;
    height: 46.3px;
    background: #64314e;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 45px;
    margin-bottom: 10px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    transition: 0.2s ease all;
}

.call-btn a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.call-btn:hover {
    background: #B26F95;
}

.call-number p {
    font-size: 30px;
    font-family: Arial;
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
}

/*блок .afisha*/
.afisha {
    display: flex;
    align-items: center;
    min-height: 536px;
    background-color: #00662b;

}

.afisha-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.afisha-wrapper .btn-active {
    width: 340px;
    padding: 20px;
    border-radius: 15px;
}

.afisha-wrapper img {
    max-width: 660px;
}

.afisha-title {
    color: #fff;
    font-family: "Bebas Neue";
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 22px;
    padding-bottom: 38px;
}

.btn-active {
    color: #fff;
    font-size: 23px;
    width: 320px;
    font-weight: 600;
    background: #64314e;
    border: none;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s ease all;
}

.btn-active a {
    color: #fff;
    font-size: 30px;
}

.btn-active:hover {
    background: #B26F95;
}

/*блок .afisha*/

/*блок .production*/
.production-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.production-title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 38px;
}

.production-text {
    font-size: 24px;
    font-family: "Arial Narrow";
    padding-bottom: 38px;
}

.col.production-img-cart {
    display: flex;
    justify-content: center;
}

.catalog-form-title {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 15px 0;
}

.catalog-form-button {
    position: relative;
    padding: 0 15px;
    text-align: center;
}

.catalog-form-button img {
    position: absolute;
    top: -60px;
    left: -120px;
    display: none;
}

/*блок .production*/

/*блок .review*/
.review-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.review-title {
    width: 100%;
    font-size: 35px;
    color: #fff;
    text-align: center;
    background: #336633;
    border-top: 4px solid #81b381;
    padding: 18px 0;
    font-weight: 600;
}

.youtube-video {
    padding-top: 10px;
    cursor: pointer;
}

.youtube-video iframe {
    width: 340px;
    height: 192px;
}


/*блок .review*/

/*блок .footer*/
.footer {
    background: #316431;
    min-height: 242px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts {
    font-size: 18px;
    text-align: center;
    line-height: 1.4;
    font-weight: 600;
    padding: 20px 0;
}

.contacts b {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 20px;
}

.line26 {
    line-height: 26px;
}

.contacts .italic {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: italic;
}

/*блок .footer*/

/*блок .modal*/
.modal {
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal:target {
    display: flex;
}

.close {
    font-size: 40px;
    opacity: 0.5;
    position: absolute;
    left: 92%;
    top: 0;
    text-decoration: none;
}

.close:hover {
    cursor: pointer;
}

.modal-content {
    background: #326532;
    color: #fff;
    width: 100%;
    max-width: 434px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    position: relative;
}

.modal-header {
    position: relative;
    font-size: 28px;
    word-wrap: normal;
    padding-bottom: 20px;
}

.modal-body {
    width: 100%;
}

.modal-body-input {
    font-size: 16px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.modal-body-input input {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    padding: 0.575rem .75rem;
    background: #f2f2f2;
    border: none;
    font-size: 1rem;
}

.modal-body-input input:hover {
    background: #fff;
}

.modal-body-input input::placeholder {
    font-size: 16px;
    font-style: italic;
    overflow: visible;
}

.modal-body-input input:hover::placeholder {
    font-style: normal;
}

.modal .btn-active {
    font-weight: 400;
    letter-spacing: 0.7px;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}

/*блок .modal*/

@media (min-width: 640px) {
    .phone-icon {
        display: block;
    }



    .youtube-video iframe {
        width: 560px;
        height: 316px;
    }

}

@media (min-width: 768px) {

    .call-number p,
    .logo {
        text-align: inherit;
    }

    .modal .btn-active {
        white-space: nowrap;
    }


}

@media (min-width: 960px) {
    .afisha-wrapper {
        padding: 40px 0;
    }

    .afisha-title {
        font-size: 72px;
    }

    .catalog-form-title {
        padding: 60px 0;
    }

    .catalog-form-button img {
        display: block;
    }

    .footer {
        margin-top: 40px;
    }

    .youtube-video iframe {
        width: 786px;
        height: 442px;
    }

    .review-wrapper {
        padding-bottom: 0;
    }



}

@media (min-width: 1200px)
